<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/ico" href="{{url_for('static', filename='images/icons/ParentFlagIcon.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
  <title>ParentFlag</title>
</head>
<body>
  <header>
    <div>
      <ul class="linklist">
          <li class="link"><a href="/signup">新規登録</a></li>
          <li class="link"><a href="/login">ログイン</a></li>
          <li class="link"><a href="/logout">ログアウト</a></li>
      </ul>
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
  </footer>
</body>
</html>